.header__bar {
    margin-right: 49px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #FFFFFF;
}

.header__bar:last-child {
    margin-right: 0;
}