.cards__Sustainability {
    margin: 0;
    height: 33px;
    width: 200px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}