@import url(../vendor/normalize.css);
@import url(../fonts/roboto/roboto.css);
@import url(../blocks/page/page.css);


/* секция title/subtitle-----------------------------------------------------------------------------*/
@import url(../blocks/title/title.css);
@import url(../blocks/title/_theme/title_theme_white.css);  
@import url(../blocks/subtitle/subtitle.css);
@import url(../blocks/subtitle/_theme/subtitle_theme_white.css);
/* ------------------------------------------------------------------------------------------*/


/* секция text-----------------------------------------------------------------------------*/
@import url(../blocks/text/_theme/text_theme_blue.css.css);
/* ------------------------------------------------------------------------------------------*/


/* секция border-----------------------------------------------------------------------------*/
@import url(../blocks/border/border.css);
@import url(../blocks/border/_theme/border_theme_blue.css);
@import url(../blocks/border/_theme/border_theme_green.css.css);
/* ------------------------------------------------------------------------------------------*/


/* секция logo-----------------------------------------------------------------------------*/
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/logo_pleace_header.css);
/* ------------------------------------------------------------------------------------------*/


/* секция button-----------------------------------------------------------------------------*/
@import url(../blocks/button/button.css);
@import url(../blocks/button/_theme/button_theme_blue.css);
@import url(../blocks/button-group/button-group.css);
@import url(../blocks/_theme/button-group_theme_white.css);
@import url(../blocks/button/_theme/button_theme_green.css);
/* ------------------------------------------------------------------------------------------*/


/* секция cards-----------------------------------------------------------------------------*/
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/_theme/cards_theme_white.css);
@import url(../blocks/cards/__Sustainability/cards__Sustainability.css);
@import url(../blocks/cards/__cloverly-api/cards__cloverly-api.css);
/* ------------------------------------------------------------------------------------------*/


/* секция header-----------------------------------------------------------------------------*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu-bar/header__menu-bar.css);
@import url(../blocks/header/__bar/header__bar.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/header/__phone/header__phone.css);
@import url(../blocks/header/__page/header__page.css);
@import url(../blocks/header/__company/header__company.css);
/* ------------------------------------------------------------------------------------------*/


/* секция maps-----------------------------------------------------------------------------*/
@import url(../blocks/maps/maps.css);
@import url(../blocks/maps/__image/maps__image.css);
/* ------------------------------------------------------------------------------------------*/


/* секция description-----------------------------------------------------------------------------*/
@import url(../blocks/description/description.css);
/* ------------------------------------------------------------------------------------------*/


/* секция footer------------------------------------------------------------------------*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__menu-bar/footer__menu-bar.css);
/* ------------------------------------------------------------------------------------------*/