.button {
    margin-right: 12px;
    background: #FFFFFF;
    border-radius: 50px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #013A51;
    width: 262px;
    height: 50px;
    box-sizing: border-box;
}

.button:last-child {
    margin-right: 0px;
}